body {
    padding-top: 20px
}

@media ( min-width :768px) {
    body>.navbar-transparent {
        background-color: transparent
    }
    body>.navbar-transparent .navbar-nav>.open>a {
        background-color: transparent !important
    }
}

alternate div:nth-child(even) {
    background-color: #dcdcdc;
}

.alternate div:nth-child(odd) {
    background-color: #aaaaaa;
}

#home {
    padding-top: 0
}

#home .navbar-brand {
    padding: 13.5px 15px 12.5px
}

#home .navbar-brand>img {
    display: inline;
    margin: 0 10px;
    height: 100%
}

#banner {
    min-height: 300px;
    border-bottom: none
}

.table-of-contents {
    margin-top: 1em
}

.page-header h1 {
    font-size: 4em
}

.bs-docs-section {
    margin-top: 6em
}

.bs-docs-section h1 {
    padding-top: 100px
}

.bs-component {
    position: relative
}

.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block
}

.bs-component .modal-dialog {
    width: 90%
}

.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px
}

#source-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: 700
}

.nav-tabs {
    margin-bottom: 15px
}

.progress {
    margin-bottom: 10px
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 8px 0;
    font-size: 11px;
    color: #5F8F11;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em
}

footer p {
    clear: left;
    margin-bottom: 0
}

.splash {
    padding: 9em 0 2em;
    background-color: #141d27;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center
}

.splash .logo {
    width: 160px
}

.splash h1 {
    font-size: 3em
}

.splash #social {
    margin: 2em 0
}

.splash .alert {
    margin: 2em 0
}

.section-tout {
    padding: 4em 0 3em;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #eaf1f1
}

.section-tout .fa {
    margin-right: .5em
}

.section-tout p {
    margin-bottom: 3em
}

.section-preview {
    padding: 4em 0 4em
}

.section-preview .preview {
    margin-bottom: 4em;
    background-color: #eaf1f1
}

.section-preview .preview .image {
    position: relative
}

.section-preview .preview .image:before {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    pointer-events: none
}

.section-preview .preview .options {
    padding: 1em 2em 2em;
    border: 1px solid rgba(0, 0, 0, .05);
    border-top: none;
    text-align: center
}

.section-preview .preview .options p {
    margin-bottom: 2em
}

.section-preview .dropdown-menu {
    text-align: left
}

.section-preview .lead {
    margin-bottom: 2em
}

/** MORE CUSTOM CSS **/
body {
    background-color: #f6f6f6;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #555555 !important;
    font-family: Ubuntu, 'Roboto Slab', serif !important;
}

h3 {
    color: #c14809!important;
    border-bottom: 1px dotted #CF5D02;
}
.container-intro {
    background-color: #ffffff;
    border: 1px solid #dddddd !important;
    border-radius: 4px;    
    padding: 40px;
}

.container-intro a {
    color: #555555;
}

.list-group {
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.list-group-item {
    border: none;
}

li.alt {
    background: #ffffff !important;
}

li.alt:nth-child(odd) {
    background: #F3FAE8 !important;
}

.btn-primary {
    background-image: none !important;
    background-color: #5F8F11;
    border: none;
    margin-bottom: 30px;
}

.btn-primary:hover {
    background-color: #8fc33a;
}

@media ( max-width :767px) {
    .section-preview .image img {
        width: 100%
    }
}

@media ( max-width :767px) {
    .splash {
        padding-top: 4em
    }
    .splash .logo {
        width: 100px
    }
    .splash h1 {
        font-size: 2em
    }
    #banner {
        margin-bottom: 2em;
        text-align: center
    }
}