<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="author" content="Hardeep Mehta" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="An API that searches NASA patents and determines the number of palindromic strings that can be created from inventor's name." />
<title>Error - Palindrome Counter</title>
<link href="/css/bootstrap.css" rel="stylesheet" />
<link href="/css/custom.css" rel="stylesheet" />
</head>
<body>
    <div class="container container-intro">
        <h1 th:text="${error}">
            Palindrome Counter<small th:text="${status}"></small>
        </h1>
        <div class="row">
            <p class="col-md-12 center-block" th:text="${message}" />
            <p class="col-md-12 center-block" th:if="${timestamp}" id='created'>
                <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
            </p>

        </div>
    </div>
</body>
</html>